@import "admin-template/variables";

@mixin hidden($width) {
	.hidden-#{$width} { display: none !important}

	.tables tr > .hidden-#{$width} {
		border: none;
		display: table-cell !important;
		font-size: 0;
		line-height: 0;
		padding: 0;
		width: 0 !important;
	}
}
@mixin boxTables ($width) {
	/*responsive table*/
	.responsive-#{$width} {
		border: none;
		background-color: transparent;

		.tables {
			background-color: transparent;
			border: none;
			overflow: visible;
		}

		thead { display: none;}
		tbody {
			display: block;

			tr {
				border-bottom: 3px solid $theme;
				border-top: 3px solid $theme;
				display: block;
				margin-top: 10px;

				td {
					border-bottom: 1px solid $lightGrey !important;
					display: block;
					text-align: right;
					word-break: break-word;

					&:last-child { border-bottom: none !important}
					&[class*="hidden"] { display: none !important}
					&:not([class*="hidden"]) {
						padding: 5px 8px;
						overflow: hidden;

						&:before {
							content: attr(data-content) ":";
							float: left;
							font-size: 12px;
							font-weight: bold;
							margin: 0 5px 0 0;
							text-transform: uppercase;
						}
					}
				}

				&:first-child { margin-top: 0}
			}
		}
	}

	@each $color, $code in $colorCode {
		.box.responsive-#{$width}.#{$color} tbody tr, .box.responsive-#{$width}.#{$color} .pagination { border-color: $code;}
	}

	.box.responsive-#{$width} .pagination {
		margin-top: 10px;
		border-width: 3px 1px 1px;
		padding: 0 0 30px;
		overflow: hidden;

		li {
			padding-top: 0;

			&:not(:first-child):not(:last-child) a, &.active span { padding: 5px 3px 6px 3.5px;}

			& > *, &:not(:first-child):not(:last-child).disabled span {
				display: block;
				padding: 0 3.7px 8px;
			}

			&:first-child, &:last-child {
				background-color: $lightGrey;
				height: 30px;
				text-align: center;
				top: auto;
				width: 50%;
			}
		}
	}
}

@media all and (min-width:1024px) {
	.sidebar-floating .mobileMenu {
		color: $themeFont;
		display: inline-block;
		left: 15px;
		position: absolute;
		top: 12px;

		&.active {
			color: $theme;
			left: 0;
			top: 0;
		}

		#header .headerLeft { padding-left: 42px;}

		#pageRight { margin-left: 0;}
	}
}
@media all and (max-width:1024px) {
	/*-globals-*/
	@include hidden(1024);

	.tables tr {
		& > * { font-size: 12px;}

		& th, & td { width: auto;}
	}

	/*-footer-*/
	#footer { padding: 6px 15px;}

	.page-body .page-left {
		width: 180px;

		.blocks .block li a { font-size: 13px;}
	}
}
@media all and (max-width:1023px) {
	/*-global-*/
	@include hidden(800);

	/*-mobile controls-*/
	.mobileMenu {
		color: $themeFont;
		display: inline-block;
		left: 15px;
		position: absolute;
		top: 12px;
	}

	.forms.horizontal .form-group.vertical input:not([type="checkbox"]), textarea, select { width: 100%;}

	/*-grid/breadcrumbs/alert/details-*/
	#header {
		position: relative;
		z-index: 13;

		.logo {
			margin-left: 15px;

			.svg {
				height: auto;
			}
		}
	}

	#footer {
		border-bottom: 1px solid $lightGrey;
		height: auto;
		position: static;
		text-align: center;

		.best-view { display: block;}
	}

	/*-page-*/
	#main > .content {
		height: auto;
		margin-top: 0;
		padding-bottom: 0;
		width: 100%;
	}
	#pageRight {
		margin-bottom: 0;
		margin-left: 0;
		margin-top: 0;
		position: static;
	}

	.sidebar-collapse #pageRight { margin-left: 0;}
	#main.sidebar-right #pageRight { margin-right: 0;}

	.page-head {
		.mobile-toggle {
			display: block;

			.fa {
				display: block;
				padding-top: 2px;
			}
		}
	}
	.page-body {
		flex-direction: column;
		padding-bottom: 0;
		flex-wrap: unset;

		.page-left {
			border: none;
			box-shadow: 0 30px 40px -45px $black;
			display: none;
			order: 0;
			width: auto;
		}
	}
}
@media all and (max-width:799px) {
	/*-global-*/
	@include hidden(768);
}
@media all and (max-width:767px) {
	/*-global-*/
	@include hidden(640);

	/*-page-*/
	.breadcrumbs { display: none;}

	@include boxTables(640);
}
@media all and (max-width:639px) {
	/*-global-*/
	@include hidden(600);

	@include boxTables(600);
}
@media all and (max-width:599px) {
	/*-global-*/
	@include hidden(480);

	.forms .form-heading { font-size: 16px;}

	.loginSection { padding: 10px;}

	/*-header-*/
	#header {
		height: auto;
		padding: 7px 0;

		#navs ul li a {
			padding-left: 0;

			.fa {
				position: static;
			}
		}
	}

	.mobileMenu { top: 11px;}

	/*-footer-*/
	#footer { padding: 6px 10px;}

	/*-alert-*/
	.alert {
		font-size: 11.8px;
		padding-left: 40px;

		&:before { width: 30px;}

		.fa {
			font-size: 1.45em;
			left: 7px;
		}

		li > .fa { font-size: 12px;}
	}

	/*details*/
	.details {
		font-size: 12px;

		&:nth-child(2n) {
			margin: 0 -15px 15px;
			padding: 5px 15px 8px;
		}

		&.has-table {
			margin: 5px -15px;
			padding: 5px 0 0;

			.heading { padding: 0 15px;}
		}
	}

	@include boxTables(480);
}
@media all and (max-width:575px) {
	/*-global-*/
	@include hidden(575);

	.project-support-form .js-issue-remove-item { order: 1;}
}
@media all and (max-width:479px) {
	/*-global-*/
	@include hidden(360);

	.tables th, .tables td { padding: 3px;}

	/*-header-*/
	.mobileMenu {
		top: 8px;

		&.active { top: 5px;}
	}

	#header {
		.logo { max-width: 200px;}

		#navs ul li {
			a { padding-left: 0;}
			.fa { position: relative;}

			&:not(:first-child) { margin-left: 8px;}
		}
	}

	/*-page-*/
	#pageRight .pageHeading {
		padding: 5px 10px 8px;
		font-size: 12px;
	}

	.page-head .heading { font-size: 18px;}

	/*-footer-*/
	#footer > span { display: block;}

	/*-login section-*/
	.loginSection .loginBox .logo { padding: 0 30px 10px;}

	.forms .selectBox {
		&:before { top: 23px;}
		&:after { top: 35px;}
	}

	@include boxTables(360);
}
@media all and (max-width:359px) {
	/*-global-*/
	.mobileMenu {
		top: 6px;

		&.active { top: 3px;}
	}

	#header {
		.logo { max-width: 180px;}

		#navs ul li {
			margin-left: 4px;

			a { padding-left: 0;}
		}
	}

	/*-page-*/
	.page-head .heading { font-size: 14px;}

	/*-login section-*/
	.loginSection .loginBox .logo { padding: 0 20px 10px;}
}

/*chrome/safari hacks*/
@media screen and (-webkit-min-device-pixel-ratio:0) {}

/*print*/
@media print {}