@import "admin-template/variables";
@import "admin-template/reset";
@import "admin-template/common";
@import "admin-template/loader";
@import "admin-template/breadcrumb";
@import "admin-template/alerts";
@import "admin-template/buttons";
@import "admin-template/icons";
@import "admin-template/forms";
@import "admin-template/pagination";
@import "admin-template/tables";
@import "admin-template/boxes";
@import "admin-template/details";
@import "admin-template/clonable";
@import "admin-template/login";

/*-start-*/
#main {
	height: 100%;
	position: relative;

	&.menu-active {
		&:after {
			content: "";
			background-color: rgba(70, 81, 89, .3);
			position: fixed;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			z-index: 11;
			height: auto;
			pointer-events: auto
		}
	}

	& > .content {
		display: flex;
		flex-wrap: wrap;
		height: calc(100% - 27px);
		margin-top: 55px;
	}
}

/*-header-*/
#header {
	align-items: center;
	background-color: $theme;
	display: flex;
	height: 55px;
	left: 0;
	position: fixed;
	right: 0;
	text-align: right;
	top: 0;
	z-index: 13;

	.logo {
		max-width: 250px;

		svg {
			display: block;
			fill: $light;
			height: 35px;
			width: 100%;
		}
	}
}

/*-header (mobile navigation)-*/
#header {
	#navs {
		flex: 1;

		ul {
			margin: 0 15px 0 0;
			display: flex;
			float: right;

			li {
				border-left: 1px solid $themeFont;
				font-size: 14px;
				margin-left: 8px;
				padding-left: 8px;

				a {
					color: $themeFont;
					display: block;
					line-height: 1;
					padding-left: 20px;
					position: relative;

					&.active {
						text-transform: uppercase;

						&:after {
							border: 4px solid transparent;
							border-top-color: #ebeced;
							content: '';
							left: calc(50% + 7px);
							position: absolute;
							top: calc(100% + 3px);
						}
					}
					&:hover { color: $lighterGrey;}
				}

				.fa {
					left: 0;
					position: absolute;
				}

				&:first-child {
					border-left: none;
					margin-left: 0;
					padding-left: 0;
				}
			}
		}
	}
}

/*-content-*/
#pageRight {
	flex: 1;
	height: 100%;

	.pageHeading {
		background-color: $light;
		border-radius: 0 0 5px 5px;
		border-top: none;
		border: 1px solid $lighterGrey;
		color: $theme;
		padding: 10px 10px 13px;
		text-shadow: 0 1px 0 $white;
	}
}

/*-footer-*/
#footer {
	background-color: $light;
	border-top: 1px solid $lighterGrey;
	bottom: 0;
	box-shadow: 0 1px 0 rgba($white, .5) inset;
	color: $theme;
	font-size: 12px;
	height: 33px;
	left: 0;
	padding: 6px 15px;
	position: fixed;
	right: 0;
	text-align: right;
	z-index: 11;

	.markup-canvas a {
		color: $theme;
		font-style: italic;
	}
}

/*-page-*/
.page-head {
	align-items: center;
	background-color: $light;
	border-bottom: 1px solid $lighterGrey;
	box-shadow: 0 -1px 0 $white inset;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 15px;
	width: 100%;

	.heading {
		font: 20px/1 $fontSemiBold;
		flex: 1;
	}
	.options .buttons {
		margin-bottom: -2px;
		text-transform: uppercase;

		&:not(:first-child) {
			margin-left: 5px;
		}

		&.tiny[class*="icon-"] .fa {
			padding: 4px 5px 3px;
		}
	}
}

// page-body
.page-body {
	align-content: flex-start;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	height: calc(100% - 40px);
	padding-bottom: 33px;

	// page-info
	.page-info {
		flex: 1;
		max-height: 100%;
		overflow: auto;
		padding: 15px 15px 0;

		.heading {
			border-bottom: 1px solid $theme;
			padding-bottom: 10px;

			&.noBorder { border-bottom: none;}
		}

		.messages { margin: -15px -15px 15px;}
	}
}