/*-alerts-*/
@mixin alerts($frontColor, $background) {
	background: $background;
	background: -moz-linear-gradient(top, $background 0, $frontColor 100%);
	background: -webkit-linear-gradient(top, $background 0, $frontColor 100%);
	background: linear-gradient(to bottom, $background 0, $frontColor 100%);
}

.alert {
	border: none;
	border-bottom: 1px solid $theme;
	border-radius: 0;
	box-shadow: 0 1px 0 $white inset;
	color: #514721;
	line-height: 150%;
	margin-bottom: 0;
	padding: 6px 34px 6px 43px;
	position: relative;
	text-shadow: 0 1px 0 $white;

	.close {
		bottom: 0;
		padding: 0 10px
	}

	a {
		text-decoration: underline
	}

	&:before {
		background-color: $theme;
		bottom: 0;
		content: "";
		left: 0;
		position: absolute;
		width: 33px;
		font-family: 'FontAwesome';
		font-size: 1.2em;
		text-align: center;
		top: 0;
		line-height: 2
	}

	&.alert-info:before {
		background-color: $alertInfoBefore;
		content: "\f129"
	}

	&.alert-danger:before {
		background-color: $alertErrorBefore;
		content: "\f00d"
	}

	&.alert-warning:before {
		background-color: $alertWarningBefore;
		content: "\f071"
	}

	&.alert-success:before {
		background-color: $alertSuccessBefore;
		content: "\f00c"
	}

	.alert:first-child {
		margin-top: 0
	}

	&.alert-danger {
		@include alerts(#f3d5d6, #f7f2f2);
		animation: 1.5s ease 0s normal none infinite running alert-danger-pulse;
		border-color: $alertErrorBefore;
		box-shadow: 0 1px 0 #f7fef2 inset, 0 1px 0 #dadee1;
		color: #8a1f11;

		li {
			&:not(:first-child) {
				padding-left: 10px;
				position: relative
			}

			&:not(:first-child)::before {
				border: 1px solid;
				content: "";
				left: 0;
				position: absolute;
				top: 11px;
				width: 4px
			}
		}
	}

	&.alert-success {
		@include alerts(#c6ec99, #eafbd1);
		border-color: $alertSuccessBefore;
		box-shadow: 0 1px 0 #fefcf0 inset, 0 1px 0 rgba($black, 0.1);
		color: #264409
	}

	&.alert-info {
		@include alerts(#f7e4a2, #fcf0bf);
		border-color: $alertInfoBefore;
		box-shadow: 0 1px 0 #f7fef2 inset, 0 1px 0 #dadee1;
	}

	&.alert-warning {
		@include alerts(#bde5f8, #e8eef1);
		border-color: $alertWarningBefore;
	}
}

@keyframes alert-danger-pulse {
	0% { border-color: $alertErrorBefore; box-shadow: 0 1px 0 #f7fef2 inset, 0 1px 0 #dadee1}
	50% { border-color: #fa8e95; box-shadow: 0 1px 0 #f7fef2 inset, 0 0 10px #fa8e95}
	100% { border-color: $alertErrorBefore; box-shadow: 0 1px 0 #f7fef2 inset, 0 1px 0 #dadee1}
}