/*-box-*/
.box {
	background-color: $light;
	border-top: 2px solid $theme;
	border-bottom: 2px solid $theme;
	box-shadow: 0 30px 40px -45px $black;
	text-shadow: 0 1px 0 rgba($white, 0.7);
	margin: 0 -15px 15px;

	.boxBody { padding: 10px 15px 0; }
	.tables { overflow: auto; }

	.boxFooter {
		background-color: #e0e0e0;
		border-top: 1px solid $lighterGrey;
		box-shadow: 0 1px 0 rgba($white, 0.5) inset;
		padding: 10px 15px;

		&.flex {
			display: flex;

			&.items-center { align-items: center}

			.flex-full { flex: 1}
		}
	}

	.buttons.default {
		background-color: $lighterGrey;
		color: $theme;
		text-shadow: 0 1px 0 rgba($white, 0.7);
	}
}

@each $color, $code in $colorCode {
	.box.#{$color} {
		&, & .boxFooter { border-color: $code; }

		.buttons.default {
			background-color: $code;
			border-color: $code;

			@if index(("lightGreen", "yellow", "skyBlue", "orange", "pink"), $color) {
				color: $theme;
				text-shadow: 0 1px 0 rgba($white, 0.7);
			} @else if index(("green", "red", "lightRed", "black", "darkGrey", "darkBlue", "grey", "lightGrey", "blue", "purple", "dark", "darkGreen"), $color) {
				color: $white;
				text-shadow: 0 1px 0 $black;
			}
		}

		.buttons[class*="icon-"].default .fa { color: $code}
	}
}