/*-breadcrumbs-*/
.breadcrumbs {
	background-color: $backgroundPre;
	border-bottom: 1px solid $lighterGrey;
	overflow: hidden;
	position: relative;

	li {
		float: left;
		height: 30px;
		line-height: 30px;
		text-shadow: 0 1px 0 $white;

		&.active { padding-left: 23px;}
		&:first-child a { padding-left: 15px;}

		a {
			background-color: $breadcrumbActive;
			color: $theme;
			display: block;
			padding: 0 10px 0 22px;
			position: relative;

			&:before, &:after {
				content: "";
				height: 0;
				left: 100%;
				position: absolute;
				top: 50%;
				width: 0;
				z-index: 10;
			}

			&:before {
				border: 16px solid transparent;
				border-left-color: $lighterGrey;
				margin-top: -16px;
			}

			&:after {
				border: 15px solid transparent;
				border-left-color: $breadcrumbActive;
				margin-top: -15px;
			}
		}

		a:hover {
			border-left-color: $backgroundPre;
			background-color: $backgroundPre;

			&:after {
				border-left-color: $backgroundPre;
			}
		}
	}
}