/*-buttons-*/
[class*="buttons"][disabled] {
	cursor: default;
	opacity: .5
}

button.buttons, a.buttons {
	background-color: $button;
	border-radius: 3px;
	border: none;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font: 16px/1.45 $fontNormal;
	padding: 4.5px 12px;
	text-align: center;
	text-shadow: 0 1px 0 $black;
	transition: box-shadow 0.2s;

	&:focus { box-shadow: 0 0 5px rgba($black, 0.75); }
	&:hover { box-shadow: 0 10px 5px -5px rgba($black, 0.5) }

	.fa:not(.top0):before {
		position: relative;
		top: -1px;
	}

	&[class*="icon-"] {
		align-items: center;
		border: 1px solid $theme;
		display: inline-flex;
		overflow: hidden;

		.fa {
			display: inline-block;
			padding: 7px 10px;
			background-color: $white;
			color: $button;
			text-shadow: none
		}
	}

	&.icon-right {
		padding: 0 0 0 10px;

		.fa {
			margin: 0 0 0 10px;
			order: 1
		}
	}

	&.icon-left {
		padding: 0 10px 0 0;

		.fa {
			margin: 0 10px 0 0;
			order: 0
		}
	}

	&.mini {
		font-size: 14px;
		min-height: 10px;

		&.icon-right {
			.fa {
				padding: 7px 6px 6px;
				margin-left: 8px
			}
		}

		&.icon-left {
			.fa {
				padding: 7px 6px 6px;
				margin-right: 8px
			}
		}
	}

	&.tiny {
		font-size: 12px;
		padding: 2px 6px;

		&.icon-right {
			padding: 0 0 0 6px;

			.fa {
				padding: 5px 5px 4px;
				margin-left: 6px
			}
		}

		&.icon-left {
			padding: 0 6px 0 0;

			.fa {
				padding: 5px 5px 4px;
				margin-right: 6px
			}
		}
	}
}

/*-links-*/
a {
	&.links {
		display: inline-block;
	}

	&.asc, &.desc {
		position: relative;
		padding-right: 12px;

		&:after, &:after {
			border-top-color: $darkGrey;
			border-width: 4px;
			border: solid transparent;
			content: "";
			height: 0;
			margin-top: -1px;
			position: absolute;
			right: 0;
			top: 50%;
			width: 0
		}
	}

	&.asc:after {
		border-bottom-color: $darkGrey;
		border-color: transparent;
		margin-top: -5px;
	}

	@each $color, $code in $colorCode {
		&.#{$color} { color: $code; }
	}
}

@each $color, $code in $colorCode {
	button.buttons.#{$color}, a.buttons.#{$color} {
		background-color: $code;
		border-color: $code;

		@if($color == "lightGreen" or $color == "yellow" or $color == "skyBlue" or $color == "orange" or $color == "pink") {
			color: $theme;
			text-shadow: 0 1px 0 rgba($white, 0.7);
		} @elseif($color == "green" or $color == "red" or $color == "lightRed" or $color == "black" or $color == "darkGrey" or $color == "grey" or $color == "lightGrey" or $color == "blue" or $color == "purple" or $color == "dark" or $color == "darkGreen") {
			color: $white;
			text-shadow: 0 1px 0 $black;
		}

		&[class*="icon-"].#{$color} {
			border-color: $code;

			.fa { color: $code; }
		}
	}
}