/*-clonable-*/
.clonable {
	background-color: $white;
	border-bottom: 1px solid $lighterGrey;
	border-top: 1px solid $lighterGrey;
	box-shadow: 0 0 5px rgba($black, .1);
	margin: 0 -15px 15px;
	padding: 10px 15px 0;

	&:nth-child(even) { background-color: #e5e5e5;}
	&:last-child { margin-bottom: 0;}
}

.button-on-top {
	.clonable{
		&:nth-child(n) { background-color: $white;}
		&:nth-child(odd) { background-color: #e5e5e5;}
	}
}