/*-common-*/
.noWordBreak { white-space: nowrap !important}
.italicInfo { color: #888; font-size: 12px; font-style: italic}

/*-display-*/
.displayNone { display: none}
.displayBlock { display: block}

/*-colors-*/
@each $key, $value in $colorCode {
	.text-#{$key} { color: $value !important;}
}

/*-align-*/
@each $key, $value in $align {
	.text#{$key} { text-align: $value !important;}
}

/*style*/
@each $key, $value in $style {
	.style#{$key} {
		@if($key == "Italic") {
			font-style: $value !important;
		} @else if index(("Upper", "Lower", "Capital"), $key) {
			text-transform: $value !important;
		} @else {
			text-decoration: $value !important;
		}
	}
}

/*-margins-*/
.mb0 { margin-bottom: 0 !important}
.mb5 { margin-bottom: 5px !important}
.mb10 { margin-bottom: 10px !important}
.mb15 { margin-bottom: 15px !important}
.mb20 { margin-bottom: 20px !important}
.mb30 { margin-bottom: 30px !important}

.mt0 { margin-top: 0 !important}
.mt5 { margin-top: 5px !important}
.mt10 { margin-top: 10px !important}
.mt15 { margin-top: 15px !important}
.mt20 { margin-top: 20px !important}
.mt30 { margin-top: 30px !important}

.ml5 { margin-left: 5px !important}
.ml10 { margin-left: 10px !important}
.mr5 { margin-right: 5px !important}
.mr10 { margin-right: 10px !important}

/*-paddings-*/
.pt0 { padding-top: 0 !important}

.pr10 { padding-right: 10px !important}

.pb15 { padding-bottom: 15px !important}

/*-floats-*/
.floatLeft { float: left !important}
.floatRight { float: right !important}