/*-details-*/
.details {
	margin-bottom: 20px;

	& > .item {
		border-bottom: 1px solid $lighterGrey;
		margin-top: 10px;
		padding-bottom: 10px;

		p:not(:first-child) { margin-top: 10px; }
	}

	.label {
		color: $theme;
		font-family: $fontSemiBold, $fontNormal;
		font-style: italic;
		overflow-wrap: break-word;
		padding-left: 0;
		padding-right: 0;
	}

	// details + has-table
	.has-table {
		padding: 8px 0 0;
		margin: 0 -15px;

		.heading { padding: 0 15px}
		.row { padding-top: 0}
	}
}