/*-select box-*/
.selectBox {
	position: relative;

	&:after {
		border: solid transparent;
		border-top-color: $theme;
		border-width: 5px;
		content: '';
		height: 0;
		position: absolute;
		right: 10px;
		top: 12px;
		width: 0;
		z-index: 2;
	}

	&:before {
		background-color: $white;
		border-radius: 0 4px 4px 0;
		content: '';
		height: 30px;
		position: absolute;
		right: 1px;
		top: 1px;
		width: 20px;
		z-index: 1;
	}

	select { z-index: 0;}
}

/*-form container-*/
.forms {
	label { margin-bottom: 0}

	.form-heading {
		border-bottom: 1px solid $lightGrey;
		box-shadow: 0 1px 0 $white;
		font-size: 20px;
		margin-bottom: 15px;
		padding-bottom: 8px
	}

	.control-label {
		display: block;
		padding-bottom: 2px;
		text-shadow: 0 1px 0 $white
	}

	.selectBox:after { top: 35px;}
	.selectBox:before { top: 23px;}

	.buttons-section {
		border-top: 1px solid $theme;
		padding-top: 15px;
	}

	.form-group {
		margin-bottom: 15px;

		.form-control:not([type="checkbox"]) {
			background-color: $white;
			border-radius: 5px;
			border: 1px solid $lightGrey;
			box-shadow: 0 1px 0 $white;
			color: $theme;
			display: block;
			font: 13px/1.45 Arial;
			height: 32px;
			padding: 3px 10px 5px;

			&:focus {
				border-color: $theme;
				box-shadow: 0 10px 5px -5px rgba($black, 0.2);
				transition: box-shadow 0.2s;
			}
		}

		.form-control[readonly] {
			background-color: $backgroundPre;
			color: $darkGrey;
			text-shadow: 0 1px 0 $white
		}

		.form-control[disabled] {
			background-color: #e0e0e0;
			color: $grey;
			text-shadow: 0 1px 0 $white
		}

		.form-control[type=number] {
			-moz-appearance: textfield;
			-webkit-appearance: textfield;
			appearance: textfield;

			&::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
				-webkit-appearance: textfield
			}
		}

		textarea.form-control {
			max-height: 1000px;
			min-height: 100px;
			overflow: auto;
			resize: vertical;

			&::-webkit-scrollbar {
				width: 8px;
				height: 8px;
			}
		}

		select.form-control {
			padding-left: 6px !important;
			padding-right: 20px !important;
		}

		&.required .control-label:after {
			color: $lightRed;
			content: "\f0d9";
			font-family: "FontAwesome";
			margin-left: 4px;
		}

		&.has-error {
			.help-block {
				color: $lightRed
			}
			.form-control {
				border-color: $lightRed !important
			}
		}

		&.selectBox.has-error:after {
			border-top-color: $lightRed
		}
	}
}