/*-icons-*/
.icons {
	position: relative;

	&:before, &:after {
		background: url(../images/admin/icons.png) 0 0 no-repeat;
		content: '';
		position: absolute;
		top: 0;
	}

	&:before {
		left: 0
	}

	&:after {
		right: 0
	}

	&.uploadButton:before {
		height: 34px;
		width: 100px;
	}

	&.uploadButton:hover:before {
		background-position: 0 -35px;
	}

	&.trash:before {
		background-position: -101px 0;
		height: 14px;
		width: 10px;
	}
}