/*-loader-*/
html.activate-loader {
	height: 100%;

	.loader {
		background-color: rgba(70, 81, 89, .15);
		bottom: 0;
		left: 0;
		margin: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 999999;

		.alert-steps {
			background-color: rgba($black, 0.7);
			color: $white;
			font-size: 20px;
			display: inline-block;
			padding: 20px 0;
			text-align: center;
			vertical-align: middle;
			width: 100%;

			li {
				line-height: normal;
				text-shadow: 1px 1px 0 rgba($black, 0.5);

				&:not(:first-child) {
					border-top: 1px solid $black;
					box-shadow: 0 1px 0 rgba($white, 0.3) inset;
					margin-top: 7px;
					padding-top: 4px
				}

				&.small-text {
					font-size: 14px;
				}
			}
		}

		&:after {
			content: "";
			display: inline-block;
			height: 100%;
			vertical-align: middle
		}
	}
}

.markupPopup-popup [class*="popup-"] {
	.options {
		bottom: 0;
		display: flex;
		right: 0;
		top: 0;
	}

	.close {
		align-items: center;
		border-radius: 0;
		display: flex;
		font-size: 18px;
		padding: 0 11px 2px;
		transition: all 0.2s;

		&:hover {
			background-color: $light;
			color: #d84a38;
		}
	}
}