/*-login section-*/
.loginSection {
	height: 100%;

	#main {
		height: 100%;
		text-align: center;
		white-space: nowrap;

		&:after {
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
		}
	}

	.loginBox {
		display: inline-block;
		max-width: 480px;
		text-align: left;
		vertical-align: middle;
		white-space: normal;
		width: 100%;

		.logo {
			padding: 0 50px 10px;

			& > * {
				display: block;
				fill: $theme;
				height: auto;
				width: 100%;
			}
		}
	}
}