/*-pagination-*/
.pagination {
	background-color: #ddd;
	border: 1px solid $lightGrey;
	border-radius: 0;
	border-width: 1px 0 0;
	box-shadow: 0 1px 0 rgba($white, 0.5) inset;
	padding: 0 31px;
	position: relative;
	justify-content: center;

	li {
		&.active {
			background-color: $lightGrey;
			box-shadow: 1px 0 0 rgba($white, 0.5);
		}

		&:not(.active):not(.disabled):hover {
			background-color: $button;
		}

		&:first-child, &:last-child {
			bottom: 0;
			font-size: 22px;
			padding: 2px 10px 0;
			position: absolute;
			top: 0;
			width: 31px;

			a, span {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				padding: 3px 10px;
			}
		}

		&:first-child {
			left: 0;
		}

		&:last-child {
			right: 0;
		}

		&:not(:first-child):not(:last-child) {
			border-left: 1px solid $lightGrey;
			box-shadow: 1px 0 0 rgba($white, 0.5) inset;
			a, span {
				color: #333;
				display: block;
				padding: 5px 6px 6px;
			}
		}

		&:nth-last-child(2) {
			border-right: 1px solid $lightGrey;
			box-shadow: 1px 0 0 rgba($white, 0.5) inset, 1px 0 0 rgba($white, 0.8) !important;
		}
	}
}