/*font-face*/
@each $font in $fonts {
	@font-face {
		font-family: $font;
		font-style: normal;
		font-weight: normal;
		src: url("fonts/#{$font}.eot");
		src: url("fonts/#{$font}.eot?#iefix") format("embedded-opentype"),
			 url("fonts/#{$font}.woff2") format("woff2"),
			 url("fonts/#{$font}.woff") format("woff"),
			 url("fonts/#{$font}.ttf") format("truetype"),
			 url("fonts/#{$font}.svg##{$font}") format("svg")
	}
}

/*reset*/
* {
	-moz-tap-highlight-color: rgba($black, 0);
	-webkit-tap-highlight-color: rgba($black, 0);
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	outline: none !important;
	padding: 0
}
html { height: 100%;}
body {
	background-color: $background;
	color: $theme;
	font: 14px/20px $fontNormal, Arial, Helvetica, sans-serif;
	height: calc(100% - 60px);
}
a, a:hover {
	color: $theme;
	text-decoration: none;
}
img {
	border: none;
	max-width: 100%;
}
strong {
	font-family: $fontSemiBold;
	font-weight: normal;
}
pre {
	background-color: $backgroundPre;
	border-radius: 5px;
	border: 1px solid $lightGrey;
	box-shadow: 0 30px 40px -45px $black;
	font-family: $fontNormal;
	max-width: 100%;
	padding: 5px 10px;
	text-shadow: 0 1px 0 $white;
}
h1, h2, h3, h4, h5, h6 {
	color: $theme;
	font: normal 30px/1 $fontLight;
	margin: 0;
}
@each $heading, $fontSize in $headings {
	#{$heading} { font-size: $fontSize;}
}
p, ul, ol, dl { margin: 0; padding: 0; list-style-type: none;}
table { border-collapse: collapse; border-spacing: 0;}

:before, :after { pointer-events: none}
::selection { background: $theme; color: $white; text-shadow: none}
::-moz-selection { background: $theme; color: $white; text-shadow: none}
::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, [type="file"] > [type="button"]::-moz-focus-inner { border: none}

/*-custom scrollbars, webkit browsers-*/
::-webkit-scrollbar {
	width: 4px;
	height: 4px;

	&-thumb { background-color: rgba($black, .3)}
	&-thumb:hover { background-color: $theme}
	&-track { background-color: $light}
	&-track:hover { background-color: $lightGrey}
}

/*-global classes-*/
.clear { clear: both}
.clearAfter:after, section:after, div:after, dl:after, ul:after, ol:after {
	clear: both;
	content: '';
	display: block;
	height: 0;
	overflow: hidden;
}
.image img {
	display: block;
	margin: 0 auto;
	max-height: 100%;
}
.inlineRow { width: 100%}
.inlineRow, .inlineBlock, .inlineBlockAll > * {
	display: inline-block;
	vertical-align: top;
	*display: inline;
	*zoom: 1;
}
.border-top { border-top: 1px solid $theme;}
.width-100 { width: 100%;}