/*-table--*/
.tables {
	table { width: 100%; }

	th, td {
		color: $theme;
		padding: 4px 5px;
		text-align: left;
		vertical-align: top;
	}
	th {
		font-family: $fontSemiBold;
		font-weight: normal;
		padding: 5px;
		white-space: nowrap;
	}
	td { word-break: break-word; }

	thead {
		background-color: $themeFont;

		tr.filters > * {
			background-color: $lighterGrey;
			padding: 4px 1px;

			input { width: 95%; }
		}
	}

	tbody {
		tr {
			border-top: 1px solid #ddd;

			th {
				&:first-child { padding-left: 15px}
				&:first-child:after { content: ':'}
			}

			td.actions { background-color: #e0e0e0}

			&.active > * { background-color: #d0d0d0}
			&.inactive > * { background-color: #f2dede}
			&.disabled > * {
				background-color: #ddd;
				border-top: 1px solid $themeFont;
				color: $grey
			}
			&.highlight > * {
				background-color: $lighterGrey;
				border-top: 1px solid $grey;
				box-shadow: inset 0 1px rgba($white, .5);
				color: #333;
				font-family: $fontSemiBold;
			}

			&:hover > * { background-color: $white !important; }
			&:nth-child(even) { background-color: #ececec; }
		}
	}

	tfoot {
		background-color: $lighterGrey;
		font-family: $fontSemiBold;
	}
}