// variables
$lightRed: #d84a38;
$red: #e02222;
$lightGreen: #8fc640;
$green: #35aa47;
$darkGreen: #006621;
$dark: #465159;
$black: #000;
$darkGrey: #555;
$grey: #888;
$lightGrey: #aaa;
$lighterGrey: #ccc;
$yellow: #ffb848;
$blue: #4b8df8;
$darkBlue: #274772;
$skyBlue: #66d9ef;
$purple: #852b99;
$orange: #fd971f;
$pink: #ffc0cb;

$theme: $dark;
$themeFont: #ebeced;

$white: #fff;
$light: #f2f2f2;
$background: #fbfbfb;
$backgroundPre: #eee;

$breadcrumbColor: #777;
$breadcrumbActive: #e2e2e2;
$breadcrumbBefore: $lightGrey;

$alertInfoBefore: #ecc579;
$alertErrorBefore: #f9afb4;
$alertWarningBefore: #3a6c7e;
$alertSuccessBefore: #a2d246;

$button: #bbb;

$fontLight: "OpenSans-Light";
$fontNormal: "OpenSans";
$fontBold: "OpenSans-Bold";
$fontSemiBold: "OpenSans-Semi-bold";

// lists
$fonts: (
	$fontLight,
	$fontNormal,
	$fontBold,
	$fontSemiBold
);

$headings: (
	("h2", 26px),
	("h3", 24px),
	("h4", 20px),
	("h5", 16px),
	("h6", 14px)
);

$colorCode: (
	("black", $black),
	("blue", $blue),
	("dark", $dark),
	("darkBlue", $darkBlue),
	("darkGreen", $darkGreen),
	("darkGrey", $darkGrey),
	("green", $green),
	("grey", $grey),
	("lightGreen", $lightGreen),
	("lightGrey", $lightGrey),
	("lighterGrey", $lighterGrey),
	("lightRed", $lightRed),
	("orange", $orange),
	("pink", $pink),
	("purple", $purple),
	("red", $red),
	("skyBlue", $skyBlue),
	("yellow", $yellow)
);

$align: (
	("Left", left),
	("Right", right),
	("Center", center)
);

$style: (
	("Italic", italic),
	("Underline", underline),
	("LineThrough", line-through),
	("Upper", uppercase),
	("Lower", lowercase),
	("Capital", capitalize)
);