@media all and (min-width: 1024px) {
  .sidebar-floating .mobileMenu {
    color: #ebeced;
    display: inline-block;
    left: 15px;
    position: absolute;
    top: 12px;
  }
  .sidebar-floating .mobileMenu.active {
    color: #465159;
    left: 0;
    top: 0;
  }
  .sidebar-floating .mobileMenu #header .headerLeft {
    padding-left: 42px;
  }
  .sidebar-floating .mobileMenu #pageRight {
    margin-left: 0;
  }
}
@media all and (max-width: 1024px) {
  /*-globals-*/
  .hidden-1024 {
    display: none !important;
  }

  .tables tr > .hidden-1024 {
    border: none;
    display: table-cell !important;
    font-size: 0;
    line-height: 0;
    padding: 0;
    width: 0 !important;
  }

  .tables tr > * {
    font-size: 12px;
  }
  .tables tr th, .tables tr td {
    width: auto;
  }

  /*-footer-*/
  #footer {
    padding: 6px 15px;
  }

  .page-body .page-left {
    width: 180px;
  }
  .page-body .page-left .blocks .block li a {
    font-size: 13px;
  }
}
@media all and (max-width: 1023px) {
  /*-global-*/
  .hidden-800 {
    display: none !important;
  }

  .tables tr > .hidden-800 {
    border: none;
    display: table-cell !important;
    font-size: 0;
    line-height: 0;
    padding: 0;
    width: 0 !important;
  }

  /*-mobile controls-*/
  .mobileMenu {
    color: #ebeced;
    display: inline-block;
    left: 15px;
    position: absolute;
    top: 12px;
  }

  .forms.horizontal .form-group.vertical input:not([type="checkbox"]), textarea, select {
    width: 100%;
  }

  /*-grid/breadcrumbs/alert/details-*/
  #header {
    position: relative;
    z-index: 13;
  }
  #header .logo {
    margin-left: 15px;
  }
  #header .logo .svg {
    height: auto;
  }

  #footer {
    border-bottom: 1px solid #aaa;
    height: auto;
    position: static;
    text-align: center;
  }
  #footer .best-view {
    display: block;
  }

  /*-page-*/
  #main > .content {
    height: auto;
    margin-top: 0;
    padding-bottom: 0;
    width: 100%;
  }

  #pageRight {
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    position: static;
  }

  .sidebar-collapse #pageRight {
    margin-left: 0;
  }

  #main.sidebar-right #pageRight {
    margin-right: 0;
  }

  .page-head .mobile-toggle {
    display: block;
  }
  .page-head .mobile-toggle .fa {
    display: block;
    padding-top: 2px;
  }

  .page-body {
    flex-direction: column;
    padding-bottom: 0;
    flex-wrap: unset;
  }
  .page-body .page-left {
    border: none;
    box-shadow: 0 30px 40px -45px #000;
    display: none;
    order: 0;
    width: auto;
  }
}
@media all and (max-width: 799px) {
  /*-global-*/
  .hidden-768 {
    display: none !important;
  }

  .tables tr > .hidden-768 {
    border: none;
    display: table-cell !important;
    font-size: 0;
    line-height: 0;
    padding: 0;
    width: 0 !important;
  }
}
@media all and (max-width: 767px) {
  /*-global-*/
  .hidden-640 {
    display: none !important;
  }

  .tables tr > .hidden-640 {
    border: none;
    display: table-cell !important;
    font-size: 0;
    line-height: 0;
    padding: 0;
    width: 0 !important;
  }

  /*-page-*/
  .breadcrumbs {
    display: none;
  }

  /*responsive table*/
  .responsive-640 {
    border: none;
    background-color: transparent;
  }
  .responsive-640 .tables {
    background-color: transparent;
    border: none;
    overflow: visible;
  }
  .responsive-640 thead {
    display: none;
  }
  .responsive-640 tbody {
    display: block;
  }
  .responsive-640 tbody tr {
    border-bottom: 3px solid #465159;
    border-top: 3px solid #465159;
    display: block;
    margin-top: 10px;
  }
  .responsive-640 tbody tr td {
    border-bottom: 1px solid #aaa !important;
    display: block;
    text-align: right;
    word-break: break-word;
  }
  .responsive-640 tbody tr td:last-child {
    border-bottom: none !important;
  }
  .responsive-640 tbody tr td[class*="hidden"] {
    display: none !important;
  }
  .responsive-640 tbody tr td:not([class*="hidden"]) {
    padding: 5px 8px;
    overflow: hidden;
  }
  .responsive-640 tbody tr td:not([class*="hidden"]):before {
    content: attr(data-content) ":";
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px 0 0;
    text-transform: uppercase;
  }
  .responsive-640 tbody tr:first-child {
    margin-top: 0;
  }

  .box.responsive-640.black tbody tr, .box.responsive-640.black .pagination {
    border-color: #000;
  }

  .box.responsive-640.blue tbody tr, .box.responsive-640.blue .pagination {
    border-color: #4b8df8;
  }

  .box.responsive-640.dark tbody tr, .box.responsive-640.dark .pagination {
    border-color: #465159;
  }

  .box.responsive-640.darkBlue tbody tr, .box.responsive-640.darkBlue .pagination {
    border-color: #274772;
  }

  .box.responsive-640.darkGreen tbody tr, .box.responsive-640.darkGreen .pagination {
    border-color: #006621;
  }

  .box.responsive-640.darkGrey tbody tr, .box.responsive-640.darkGrey .pagination {
    border-color: #555;
  }

  .box.responsive-640.green tbody tr, .box.responsive-640.green .pagination {
    border-color: #35aa47;
  }

  .box.responsive-640.grey tbody tr, .box.responsive-640.grey .pagination {
    border-color: #888;
  }

  .box.responsive-640.lightGreen tbody tr, .box.responsive-640.lightGreen .pagination {
    border-color: #8fc640;
  }

  .box.responsive-640.lightGrey tbody tr, .box.responsive-640.lightGrey .pagination {
    border-color: #aaa;
  }

  .box.responsive-640.lighterGrey tbody tr, .box.responsive-640.lighterGrey .pagination {
    border-color: #ccc;
  }

  .box.responsive-640.lightRed tbody tr, .box.responsive-640.lightRed .pagination {
    border-color: #d84a38;
  }

  .box.responsive-640.orange tbody tr, .box.responsive-640.orange .pagination {
    border-color: #fd971f;
  }

  .box.responsive-640.pink tbody tr, .box.responsive-640.pink .pagination {
    border-color: #ffc0cb;
  }

  .box.responsive-640.purple tbody tr, .box.responsive-640.purple .pagination {
    border-color: #852b99;
  }

  .box.responsive-640.red tbody tr, .box.responsive-640.red .pagination {
    border-color: #e02222;
  }

  .box.responsive-640.skyBlue tbody tr, .box.responsive-640.skyBlue .pagination {
    border-color: #66d9ef;
  }

  .box.responsive-640.yellow tbody tr, .box.responsive-640.yellow .pagination {
    border-color: #ffb848;
  }

  .box.responsive-640 .pagination {
    margin-top: 10px;
    border-width: 3px 1px 1px;
    padding: 0 0 30px;
    overflow: hidden;
  }
  .box.responsive-640 .pagination li {
    padding-top: 0;
  }
  .box.responsive-640 .pagination li:not(:first-child):not(:last-child) a, .box.responsive-640 .pagination li.active span {
    padding: 5px 3px 6px 3.5px;
  }
  .box.responsive-640 .pagination li > *, .box.responsive-640 .pagination li:not(:first-child):not(:last-child).disabled span {
    display: block;
    padding: 0 3.7px 8px;
  }
  .box.responsive-640 .pagination li:first-child, .box.responsive-640 .pagination li:last-child {
    background-color: #aaa;
    height: 30px;
    text-align: center;
    top: auto;
    width: 50%;
  }
}
@media all and (max-width: 639px) {
  /*-global-*/
  .hidden-600 {
    display: none !important;
  }

  .tables tr > .hidden-600 {
    border: none;
    display: table-cell !important;
    font-size: 0;
    line-height: 0;
    padding: 0;
    width: 0 !important;
  }

  /*responsive table*/
  .responsive-600 {
    border: none;
    background-color: transparent;
  }
  .responsive-600 .tables {
    background-color: transparent;
    border: none;
    overflow: visible;
  }
  .responsive-600 thead {
    display: none;
  }
  .responsive-600 tbody {
    display: block;
  }
  .responsive-600 tbody tr {
    border-bottom: 3px solid #465159;
    border-top: 3px solid #465159;
    display: block;
    margin-top: 10px;
  }
  .responsive-600 tbody tr td {
    border-bottom: 1px solid #aaa !important;
    display: block;
    text-align: right;
    word-break: break-word;
  }
  .responsive-600 tbody tr td:last-child {
    border-bottom: none !important;
  }
  .responsive-600 tbody tr td[class*="hidden"] {
    display: none !important;
  }
  .responsive-600 tbody tr td:not([class*="hidden"]) {
    padding: 5px 8px;
    overflow: hidden;
  }
  .responsive-600 tbody tr td:not([class*="hidden"]):before {
    content: attr(data-content) ":";
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px 0 0;
    text-transform: uppercase;
  }
  .responsive-600 tbody tr:first-child {
    margin-top: 0;
  }

  .box.responsive-600.black tbody tr, .box.responsive-600.black .pagination {
    border-color: #000;
  }

  .box.responsive-600.blue tbody tr, .box.responsive-600.blue .pagination {
    border-color: #4b8df8;
  }

  .box.responsive-600.dark tbody tr, .box.responsive-600.dark .pagination {
    border-color: #465159;
  }

  .box.responsive-600.darkBlue tbody tr, .box.responsive-600.darkBlue .pagination {
    border-color: #274772;
  }

  .box.responsive-600.darkGreen tbody tr, .box.responsive-600.darkGreen .pagination {
    border-color: #006621;
  }

  .box.responsive-600.darkGrey tbody tr, .box.responsive-600.darkGrey .pagination {
    border-color: #555;
  }

  .box.responsive-600.green tbody tr, .box.responsive-600.green .pagination {
    border-color: #35aa47;
  }

  .box.responsive-600.grey tbody tr, .box.responsive-600.grey .pagination {
    border-color: #888;
  }

  .box.responsive-600.lightGreen tbody tr, .box.responsive-600.lightGreen .pagination {
    border-color: #8fc640;
  }

  .box.responsive-600.lightGrey tbody tr, .box.responsive-600.lightGrey .pagination {
    border-color: #aaa;
  }

  .box.responsive-600.lighterGrey tbody tr, .box.responsive-600.lighterGrey .pagination {
    border-color: #ccc;
  }

  .box.responsive-600.lightRed tbody tr, .box.responsive-600.lightRed .pagination {
    border-color: #d84a38;
  }

  .box.responsive-600.orange tbody tr, .box.responsive-600.orange .pagination {
    border-color: #fd971f;
  }

  .box.responsive-600.pink tbody tr, .box.responsive-600.pink .pagination {
    border-color: #ffc0cb;
  }

  .box.responsive-600.purple tbody tr, .box.responsive-600.purple .pagination {
    border-color: #852b99;
  }

  .box.responsive-600.red tbody tr, .box.responsive-600.red .pagination {
    border-color: #e02222;
  }

  .box.responsive-600.skyBlue tbody tr, .box.responsive-600.skyBlue .pagination {
    border-color: #66d9ef;
  }

  .box.responsive-600.yellow tbody tr, .box.responsive-600.yellow .pagination {
    border-color: #ffb848;
  }

  .box.responsive-600 .pagination {
    margin-top: 10px;
    border-width: 3px 1px 1px;
    padding: 0 0 30px;
    overflow: hidden;
  }
  .box.responsive-600 .pagination li {
    padding-top: 0;
  }
  .box.responsive-600 .pagination li:not(:first-child):not(:last-child) a, .box.responsive-600 .pagination li.active span {
    padding: 5px 3px 6px 3.5px;
  }
  .box.responsive-600 .pagination li > *, .box.responsive-600 .pagination li:not(:first-child):not(:last-child).disabled span {
    display: block;
    padding: 0 3.7px 8px;
  }
  .box.responsive-600 .pagination li:first-child, .box.responsive-600 .pagination li:last-child {
    background-color: #aaa;
    height: 30px;
    text-align: center;
    top: auto;
    width: 50%;
  }
}
@media all and (max-width: 599px) {
  /*-global-*/
  .hidden-480 {
    display: none !important;
  }

  .tables tr > .hidden-480 {
    border: none;
    display: table-cell !important;
    font-size: 0;
    line-height: 0;
    padding: 0;
    width: 0 !important;
  }

  .forms .form-heading {
    font-size: 16px;
  }

  .loginSection {
    padding: 10px;
  }

  /*-header-*/
  #header {
    height: auto;
    padding: 7px 0;
  }
  #header #navs ul li a {
    padding-left: 0;
  }
  #header #navs ul li a .fa {
    position: static;
  }

  .mobileMenu {
    top: 11px;
  }

  /*-footer-*/
  #footer {
    padding: 6px 10px;
  }

  /*-alert-*/
  .alert {
    font-size: 11.8px;
    padding-left: 40px;
  }
  .alert:before {
    width: 30px;
  }
  .alert .fa {
    font-size: 1.45em;
    left: 7px;
  }
  .alert li > .fa {
    font-size: 12px;
  }

  /*details*/
  .details {
    font-size: 12px;
  }
  .details:nth-child(2n) {
    margin: 0 -15px 15px;
    padding: 5px 15px 8px;
  }
  .details.has-table {
    margin: 5px -15px;
    padding: 5px 0 0;
  }
  .details.has-table .heading {
    padding: 0 15px;
  }

  /*responsive table*/
  .responsive-480 {
    border: none;
    background-color: transparent;
  }
  .responsive-480 .tables {
    background-color: transparent;
    border: none;
    overflow: visible;
  }
  .responsive-480 thead {
    display: none;
  }
  .responsive-480 tbody {
    display: block;
  }
  .responsive-480 tbody tr {
    border-bottom: 3px solid #465159;
    border-top: 3px solid #465159;
    display: block;
    margin-top: 10px;
  }
  .responsive-480 tbody tr td {
    border-bottom: 1px solid #aaa !important;
    display: block;
    text-align: right;
    word-break: break-word;
  }
  .responsive-480 tbody tr td:last-child {
    border-bottom: none !important;
  }
  .responsive-480 tbody tr td[class*="hidden"] {
    display: none !important;
  }
  .responsive-480 tbody tr td:not([class*="hidden"]) {
    padding: 5px 8px;
    overflow: hidden;
  }
  .responsive-480 tbody tr td:not([class*="hidden"]):before {
    content: attr(data-content) ":";
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px 0 0;
    text-transform: uppercase;
  }
  .responsive-480 tbody tr:first-child {
    margin-top: 0;
  }

  .box.responsive-480.black tbody tr, .box.responsive-480.black .pagination {
    border-color: #000;
  }

  .box.responsive-480.blue tbody tr, .box.responsive-480.blue .pagination {
    border-color: #4b8df8;
  }

  .box.responsive-480.dark tbody tr, .box.responsive-480.dark .pagination {
    border-color: #465159;
  }

  .box.responsive-480.darkBlue tbody tr, .box.responsive-480.darkBlue .pagination {
    border-color: #274772;
  }

  .box.responsive-480.darkGreen tbody tr, .box.responsive-480.darkGreen .pagination {
    border-color: #006621;
  }

  .box.responsive-480.darkGrey tbody tr, .box.responsive-480.darkGrey .pagination {
    border-color: #555;
  }

  .box.responsive-480.green tbody tr, .box.responsive-480.green .pagination {
    border-color: #35aa47;
  }

  .box.responsive-480.grey tbody tr, .box.responsive-480.grey .pagination {
    border-color: #888;
  }

  .box.responsive-480.lightGreen tbody tr, .box.responsive-480.lightGreen .pagination {
    border-color: #8fc640;
  }

  .box.responsive-480.lightGrey tbody tr, .box.responsive-480.lightGrey .pagination {
    border-color: #aaa;
  }

  .box.responsive-480.lighterGrey tbody tr, .box.responsive-480.lighterGrey .pagination {
    border-color: #ccc;
  }

  .box.responsive-480.lightRed tbody tr, .box.responsive-480.lightRed .pagination {
    border-color: #d84a38;
  }

  .box.responsive-480.orange tbody tr, .box.responsive-480.orange .pagination {
    border-color: #fd971f;
  }

  .box.responsive-480.pink tbody tr, .box.responsive-480.pink .pagination {
    border-color: #ffc0cb;
  }

  .box.responsive-480.purple tbody tr, .box.responsive-480.purple .pagination {
    border-color: #852b99;
  }

  .box.responsive-480.red tbody tr, .box.responsive-480.red .pagination {
    border-color: #e02222;
  }

  .box.responsive-480.skyBlue tbody tr, .box.responsive-480.skyBlue .pagination {
    border-color: #66d9ef;
  }

  .box.responsive-480.yellow tbody tr, .box.responsive-480.yellow .pagination {
    border-color: #ffb848;
  }

  .box.responsive-480 .pagination {
    margin-top: 10px;
    border-width: 3px 1px 1px;
    padding: 0 0 30px;
    overflow: hidden;
  }
  .box.responsive-480 .pagination li {
    padding-top: 0;
  }
  .box.responsive-480 .pagination li:not(:first-child):not(:last-child) a, .box.responsive-480 .pagination li.active span {
    padding: 5px 3px 6px 3.5px;
  }
  .box.responsive-480 .pagination li > *, .box.responsive-480 .pagination li:not(:first-child):not(:last-child).disabled span {
    display: block;
    padding: 0 3.7px 8px;
  }
  .box.responsive-480 .pagination li:first-child, .box.responsive-480 .pagination li:last-child {
    background-color: #aaa;
    height: 30px;
    text-align: center;
    top: auto;
    width: 50%;
  }
}
@media all and (max-width: 575px) {
  /*-global-*/
  .hidden-575 {
    display: none !important;
  }

  .tables tr > .hidden-575 {
    border: none;
    display: table-cell !important;
    font-size: 0;
    line-height: 0;
    padding: 0;
    width: 0 !important;
  }

  .project-support-form .js-issue-remove-item {
    order: 1;
  }
}
@media all and (max-width: 479px) {
  /*-global-*/
  .hidden-360 {
    display: none !important;
  }

  .tables tr > .hidden-360 {
    border: none;
    display: table-cell !important;
    font-size: 0;
    line-height: 0;
    padding: 0;
    width: 0 !important;
  }

  .tables th, .tables td {
    padding: 3px;
  }

  /*-header-*/
  .mobileMenu {
    top: 8px;
  }
  .mobileMenu.active {
    top: 5px;
  }

  #header .logo {
    max-width: 200px;
  }
  #header #navs ul li a {
    padding-left: 0;
  }
  #header #navs ul li .fa {
    position: relative;
  }
  #header #navs ul li:not(:first-child) {
    margin-left: 8px;
  }

  /*-page-*/
  #pageRight .pageHeading {
    padding: 5px 10px 8px;
    font-size: 12px;
  }

  .page-head .heading {
    font-size: 18px;
  }

  /*-footer-*/
  #footer > span {
    display: block;
  }

  /*-login section-*/
  .loginSection .loginBox .logo {
    padding: 0 30px 10px;
  }

  .forms .selectBox:before {
    top: 23px;
  }
  .forms .selectBox:after {
    top: 35px;
  }

  /*responsive table*/
  .responsive-360 {
    border: none;
    background-color: transparent;
  }
  .responsive-360 .tables {
    background-color: transparent;
    border: none;
    overflow: visible;
  }
  .responsive-360 thead {
    display: none;
  }
  .responsive-360 tbody {
    display: block;
  }
  .responsive-360 tbody tr {
    border-bottom: 3px solid #465159;
    border-top: 3px solid #465159;
    display: block;
    margin-top: 10px;
  }
  .responsive-360 tbody tr td {
    border-bottom: 1px solid #aaa !important;
    display: block;
    text-align: right;
    word-break: break-word;
  }
  .responsive-360 tbody tr td:last-child {
    border-bottom: none !important;
  }
  .responsive-360 tbody tr td[class*="hidden"] {
    display: none !important;
  }
  .responsive-360 tbody tr td:not([class*="hidden"]) {
    padding: 5px 8px;
    overflow: hidden;
  }
  .responsive-360 tbody tr td:not([class*="hidden"]):before {
    content: attr(data-content) ":";
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 0 5px 0 0;
    text-transform: uppercase;
  }
  .responsive-360 tbody tr:first-child {
    margin-top: 0;
  }

  .box.responsive-360.black tbody tr, .box.responsive-360.black .pagination {
    border-color: #000;
  }

  .box.responsive-360.blue tbody tr, .box.responsive-360.blue .pagination {
    border-color: #4b8df8;
  }

  .box.responsive-360.dark tbody tr, .box.responsive-360.dark .pagination {
    border-color: #465159;
  }

  .box.responsive-360.darkBlue tbody tr, .box.responsive-360.darkBlue .pagination {
    border-color: #274772;
  }

  .box.responsive-360.darkGreen tbody tr, .box.responsive-360.darkGreen .pagination {
    border-color: #006621;
  }

  .box.responsive-360.darkGrey tbody tr, .box.responsive-360.darkGrey .pagination {
    border-color: #555;
  }

  .box.responsive-360.green tbody tr, .box.responsive-360.green .pagination {
    border-color: #35aa47;
  }

  .box.responsive-360.grey tbody tr, .box.responsive-360.grey .pagination {
    border-color: #888;
  }

  .box.responsive-360.lightGreen tbody tr, .box.responsive-360.lightGreen .pagination {
    border-color: #8fc640;
  }

  .box.responsive-360.lightGrey tbody tr, .box.responsive-360.lightGrey .pagination {
    border-color: #aaa;
  }

  .box.responsive-360.lighterGrey tbody tr, .box.responsive-360.lighterGrey .pagination {
    border-color: #ccc;
  }

  .box.responsive-360.lightRed tbody tr, .box.responsive-360.lightRed .pagination {
    border-color: #d84a38;
  }

  .box.responsive-360.orange tbody tr, .box.responsive-360.orange .pagination {
    border-color: #fd971f;
  }

  .box.responsive-360.pink tbody tr, .box.responsive-360.pink .pagination {
    border-color: #ffc0cb;
  }

  .box.responsive-360.purple tbody tr, .box.responsive-360.purple .pagination {
    border-color: #852b99;
  }

  .box.responsive-360.red tbody tr, .box.responsive-360.red .pagination {
    border-color: #e02222;
  }

  .box.responsive-360.skyBlue tbody tr, .box.responsive-360.skyBlue .pagination {
    border-color: #66d9ef;
  }

  .box.responsive-360.yellow tbody tr, .box.responsive-360.yellow .pagination {
    border-color: #ffb848;
  }

  .box.responsive-360 .pagination {
    margin-top: 10px;
    border-width: 3px 1px 1px;
    padding: 0 0 30px;
    overflow: hidden;
  }
  .box.responsive-360 .pagination li {
    padding-top: 0;
  }
  .box.responsive-360 .pagination li:not(:first-child):not(:last-child) a, .box.responsive-360 .pagination li.active span {
    padding: 5px 3px 6px 3.5px;
  }
  .box.responsive-360 .pagination li > *, .box.responsive-360 .pagination li:not(:first-child):not(:last-child).disabled span {
    display: block;
    padding: 0 3.7px 8px;
  }
  .box.responsive-360 .pagination li:first-child, .box.responsive-360 .pagination li:last-child {
    background-color: #aaa;
    height: 30px;
    text-align: center;
    top: auto;
    width: 50%;
  }
}
@media all and (max-width: 359px) {
  /*-global-*/
  .mobileMenu {
    top: 6px;
  }
  .mobileMenu.active {
    top: 3px;
  }

  #header .logo {
    max-width: 180px;
  }
  #header #navs ul li {
    margin-left: 4px;
  }
  #header #navs ul li a {
    padding-left: 0;
  }

  /*-page-*/
  .page-head .heading {
    font-size: 14px;
  }

  /*-login section-*/
  .loginSection .loginBox .logo {
    padding: 0 20px 10px;
  }
}
/*chrome/safari hacks*/
/*print*/

/*# sourceMappingURL=admin-media-queries.css.map */
