@charset "UTF-8";
/*font-face*/
@font-face {
  font-family: "OpenSans-Light";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/OpenSans-Light.eot");
  src: url("fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Light.woff2") format("woff2"), url("fonts/OpenSans-Light.woff") format("woff"), url("fonts/OpenSans-Light.ttf") format("truetype"), url("fonts/OpenSans-Light.svg#OpenSans-Light") format("svg");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/OpenSans.eot");
  src: url("fonts/OpenSans.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans.woff2") format("woff2"), url("fonts/OpenSans.woff") format("woff"), url("fonts/OpenSans.ttf") format("truetype"), url("fonts/OpenSans.svg#OpenSans") format("svg");
}
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/OpenSans-Bold.eot");
  src: url("fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Bold.woff2") format("woff2"), url("fonts/OpenSans-Bold.woff") format("woff"), url("fonts/OpenSans-Bold.ttf") format("truetype"), url("fonts/OpenSans-Bold.svg#OpenSans-Bold") format("svg");
}
@font-face {
  font-family: "OpenSans-Semi-bold";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/OpenSans-Semi-bold.eot");
  src: url("fonts/OpenSans-Semi-bold.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Semi-bold.woff2") format("woff2"), url("fonts/OpenSans-Semi-bold.woff") format("woff"), url("fonts/OpenSans-Semi-bold.ttf") format("truetype"), url("fonts/OpenSans-Semi-bold.svg#OpenSans-Semi-bold") format("svg");
}
/*reset*/
* {
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  outline: none !important;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #fbfbfb;
  color: #465159;
  font: 14px/20px "OpenSans", Arial, Helvetica, sans-serif;
  height: calc(100% - 60px);
}

a, a:hover {
  color: #465159;
  text-decoration: none;
}

img {
  border: none;
  max-width: 100%;
}

strong {
  font-family: "OpenSans-Semi-bold";
  font-weight: normal;
}

pre {
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid #aaa;
  box-shadow: 0 30px 40px -45px #000;
  font-family: "OpenSans";
  max-width: 100%;
  padding: 5px 10px;
  text-shadow: 0 1px 0 #fff;
}

h1, h2, h3, h4, h5, h6 {
  color: #465159;
  font: normal 30px/1 "OpenSans-Light";
  margin: 0;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

p, ul, ol, dl {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:before, :after {
  pointer-events: none;
}

::selection {
  background: #465159;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #465159;
  color: #fff;
  text-shadow: none;
}

::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, [type="file"] > [type="button"]::-moz-focus-inner {
  border: none;
}

/*-custom scrollbars, webkit browsers-*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #465159;
}
::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}
::-webkit-scrollbar-track:hover {
  background-color: #aaa;
}

/*-global classes-*/
.clear {
  clear: both;
}

.clearAfter:after, section:after, div:after, dl:after, ul:after, ol:after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  overflow: hidden;
}

.image img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
}

.inlineRow {
  width: 100%;
}

.inlineRow, .inlineBlock, .inlineBlockAll > * {
  display: inline-block;
  vertical-align: top;
  *display: inline;
  *zoom: 1;
}

.border-top {
  border-top: 1px solid #465159;
}

.width-100 {
  width: 100%;
}

/*-common-*/
.noWordBreak {
  white-space: nowrap !important;
}

.italicInfo {
  color: #888;
  font-size: 12px;
  font-style: italic;
}

/*-display-*/
.displayNone {
  display: none;
}

.displayBlock {
  display: block;
}

/*-colors-*/
.text-black {
  color: #000 !important;
}

.text-blue {
  color: #4b8df8 !important;
}

.text-dark {
  color: #465159 !important;
}

.text-darkBlue {
  color: #274772 !important;
}

.text-darkGreen {
  color: #006621 !important;
}

.text-darkGrey {
  color: #555 !important;
}

.text-green {
  color: #35aa47 !important;
}

.text-grey {
  color: #888 !important;
}

.text-lightGreen {
  color: #8fc640 !important;
}

.text-lightGrey {
  color: #aaa !important;
}

.text-lighterGrey {
  color: #ccc !important;
}

.text-lightRed {
  color: #d84a38 !important;
}

.text-orange {
  color: #fd971f !important;
}

.text-pink {
  color: #ffc0cb !important;
}

.text-purple {
  color: #852b99 !important;
}

.text-red {
  color: #e02222 !important;
}

.text-skyBlue {
  color: #66d9ef !important;
}

.text-yellow {
  color: #ffb848 !important;
}

/*-align-*/
.textLeft {
  text-align: left !important;
}

.textRight {
  text-align: right !important;
}

.textCenter {
  text-align: center !important;
}

/*style*/
.styleItalic {
  font-style: italic !important;
}

.styleUnderline {
  text-decoration: underline !important;
}

.styleLineThrough {
  text-decoration: line-through !important;
}

.styleUpper {
  text-transform: uppercase !important;
}

.styleLower {
  text-transform: lowercase !important;
}

.styleCapital {
  text-transform: capitalize !important;
}

/*-margins-*/
.mb0 {
  margin-bottom: 0 !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

/*-paddings-*/
.pt0 {
  padding-top: 0 !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

/*-floats-*/
.floatLeft {
  float: left !important;
}

.floatRight {
  float: right !important;
}

/*-loader-*/
html.activate-loader {
  height: 100%;
}
html.activate-loader .loader {
  background-color: rgba(70, 81, 89, 0.15);
  bottom: 0;
  left: 0;
  margin: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
}
html.activate-loader .loader .alert-steps {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 20px;
  display: inline-block;
  padding: 20px 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
html.activate-loader .loader .alert-steps li {
  line-height: normal;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
}
html.activate-loader .loader .alert-steps li:not(:first-child) {
  border-top: 1px solid #000;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset;
  margin-top: 7px;
  padding-top: 4px;
}
html.activate-loader .loader .alert-steps li.small-text {
  font-size: 14px;
}
html.activate-loader .loader:after {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.markupPopup-popup [class*="popup-"] .options {
  bottom: 0;
  display: flex;
  right: 0;
  top: 0;
}
.markupPopup-popup [class*="popup-"] .close {
  align-items: center;
  border-radius: 0;
  display: flex;
  font-size: 18px;
  padding: 0 11px 2px;
  transition: all 0.2s;
}
.markupPopup-popup [class*="popup-"] .close:hover {
  background-color: #f2f2f2;
  color: #d84a38;
}

/*-breadcrumbs-*/
.breadcrumbs {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
  position: relative;
}
.breadcrumbs li {
  float: left;
  height: 30px;
  line-height: 30px;
  text-shadow: 0 1px 0 #fff;
}
.breadcrumbs li.active {
  padding-left: 23px;
}
.breadcrumbs li:first-child a {
  padding-left: 15px;
}
.breadcrumbs li a {
  background-color: #e2e2e2;
  color: #465159;
  display: block;
  padding: 0 10px 0 22px;
  position: relative;
}
.breadcrumbs li a:before, .breadcrumbs li a:after {
  content: "";
  height: 0;
  left: 100%;
  position: absolute;
  top: 50%;
  width: 0;
  z-index: 10;
}
.breadcrumbs li a:before {
  border: 16px solid transparent;
  border-left-color: #ccc;
  margin-top: -16px;
}
.breadcrumbs li a:after {
  border: 15px solid transparent;
  border-left-color: #e2e2e2;
  margin-top: -15px;
}
.breadcrumbs li a:hover {
  border-left-color: #eee;
  background-color: #eee;
}
.breadcrumbs li a:hover:after {
  border-left-color: #eee;
}

/*-alerts-*/
.alert {
  border: none;
  border-bottom: 1px solid #465159;
  border-radius: 0;
  box-shadow: 0 1px 0 #fff inset;
  color: #514721;
  line-height: 150%;
  margin-bottom: 0;
  padding: 6px 34px 6px 43px;
  position: relative;
  text-shadow: 0 1px 0 #fff;
}
.alert .close {
  bottom: 0;
  padding: 0 10px;
}
.alert a {
  text-decoration: underline;
}
.alert:before {
  background-color: #465159;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  width: 33px;
  font-family: 'FontAwesome';
  font-size: 1.2em;
  text-align: center;
  top: 0;
  line-height: 2;
}
.alert.alert-info:before {
  background-color: #ecc579;
  content: "";
}
.alert.alert-danger:before {
  background-color: #f9afb4;
  content: "";
}
.alert.alert-warning:before {
  background-color: #3a6c7e;
  content: "";
}
.alert.alert-success:before {
  background-color: #a2d246;
  content: "";
}
.alert .alert:first-child {
  margin-top: 0;
}
.alert.alert-danger {
  background: #f7f2f2;
  background: -moz-linear-gradient(top, #f7f2f2 0, #f3d5d6 100%);
  background: -webkit-linear-gradient(top, #f7f2f2 0, #f3d5d6 100%);
  background: linear-gradient(to bottom, #f7f2f2 0, #f3d5d6 100%);
  animation: 1.5s ease 0s normal none infinite running alert-danger-pulse;
  border-color: #f9afb4;
  box-shadow: 0 1px 0 #f7fef2 inset, 0 1px 0 #dadee1;
  color: #8a1f11;
}
.alert.alert-danger li:not(:first-child) {
  padding-left: 10px;
  position: relative;
}
.alert.alert-danger li:not(:first-child)::before {
  border: 1px solid;
  content: "";
  left: 0;
  position: absolute;
  top: 11px;
  width: 4px;
}
.alert.alert-success {
  background: #eafbd1;
  background: -moz-linear-gradient(top, #eafbd1 0, #c6ec99 100%);
  background: -webkit-linear-gradient(top, #eafbd1 0, #c6ec99 100%);
  background: linear-gradient(to bottom, #eafbd1 0, #c6ec99 100%);
  border-color: #a2d246;
  box-shadow: 0 1px 0 #fefcf0 inset, 0 1px 0 rgba(0, 0, 0, 0.1);
  color: #264409;
}
.alert.alert-info {
  background: #fcf0bf;
  background: -moz-linear-gradient(top, #fcf0bf 0, #f7e4a2 100%);
  background: -webkit-linear-gradient(top, #fcf0bf 0, #f7e4a2 100%);
  background: linear-gradient(to bottom, #fcf0bf 0, #f7e4a2 100%);
  border-color: #ecc579;
  box-shadow: 0 1px 0 #f7fef2 inset, 0 1px 0 #dadee1;
}
.alert.alert-warning {
  background: #e8eef1;
  background: -moz-linear-gradient(top, #e8eef1 0, #bde5f8 100%);
  background: -webkit-linear-gradient(top, #e8eef1 0, #bde5f8 100%);
  background: linear-gradient(to bottom, #e8eef1 0, #bde5f8 100%);
  border-color: #3a6c7e;
}

@keyframes alert-danger-pulse {
  0% {
    border-color: #f9afb4;
    box-shadow: 0 1px 0 #f7fef2 inset, 0 1px 0 #dadee1;
  }
  50% {
    border-color: #fa8e95;
    box-shadow: 0 1px 0 #f7fef2 inset, 0 0 10px #fa8e95;
  }
  100% {
    border-color: #f9afb4;
    box-shadow: 0 1px 0 #f7fef2 inset, 0 1px 0 #dadee1;
  }
}
/*-buttons-*/
[class*="buttons"][disabled] {
  cursor: default;
  opacity: 0.5;
}

button.buttons, a.buttons {
  background-color: #bbb;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: 16px/1.45 "OpenSans";
  padding: 4.5px 12px;
  text-align: center;
  text-shadow: 0 1px 0 #000;
  transition: box-shadow 0.2s;
}
button.buttons:focus, a.buttons:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}
button.buttons:hover, a.buttons:hover {
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.5);
}
button.buttons .fa:not(.top0):before, a.buttons .fa:not(.top0):before {
  position: relative;
  top: -1px;
}
button.buttons[class*="icon-"], a.buttons[class*="icon-"] {
  align-items: center;
  border: 1px solid #465159;
  display: inline-flex;
  overflow: hidden;
}
button.buttons[class*="icon-"] .fa, a.buttons[class*="icon-"] .fa {
  display: inline-block;
  padding: 7px 10px;
  background-color: #fff;
  color: #bbb;
  text-shadow: none;
}
button.buttons.icon-right, a.buttons.icon-right {
  padding: 0 0 0 10px;
}
button.buttons.icon-right .fa, a.buttons.icon-right .fa {
  margin: 0 0 0 10px;
  order: 1;
}
button.buttons.icon-left, a.buttons.icon-left {
  padding: 0 10px 0 0;
}
button.buttons.icon-left .fa, a.buttons.icon-left .fa {
  margin: 0 10px 0 0;
  order: 0;
}
button.buttons.mini, a.buttons.mini {
  font-size: 14px;
  min-height: 10px;
}
button.buttons.mini.icon-right .fa, a.buttons.mini.icon-right .fa {
  padding: 7px 6px 6px;
  margin-left: 8px;
}
button.buttons.mini.icon-left .fa, a.buttons.mini.icon-left .fa {
  padding: 7px 6px 6px;
  margin-right: 8px;
}
button.buttons.tiny, a.buttons.tiny {
  font-size: 12px;
  padding: 2px 6px;
}
button.buttons.tiny.icon-right, a.buttons.tiny.icon-right {
  padding: 0 0 0 6px;
}
button.buttons.tiny.icon-right .fa, a.buttons.tiny.icon-right .fa {
  padding: 5px 5px 4px;
  margin-left: 6px;
}
button.buttons.tiny.icon-left, a.buttons.tiny.icon-left {
  padding: 0 6px 0 0;
}
button.buttons.tiny.icon-left .fa, a.buttons.tiny.icon-left .fa {
  padding: 5px 5px 4px;
  margin-right: 6px;
}

/*-links-*/
a.links {
  display: inline-block;
}
a.asc, a.desc {
  position: relative;
  padding-right: 12px;
}
a.asc:after, a.asc:after, a.desc:after, a.desc:after {
  border-top-color: #555;
  border-width: 4px;
  border: solid transparent;
  content: "";
  height: 0;
  margin-top: -1px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
}
a.asc:after {
  border-bottom-color: #555;
  border-color: transparent;
  margin-top: -5px;
}
a.black {
  color: #000;
}
a.blue {
  color: #4b8df8;
}
a.dark {
  color: #465159;
}
a.darkBlue {
  color: #274772;
}
a.darkGreen {
  color: #006621;
}
a.darkGrey {
  color: #555;
}
a.green {
  color: #35aa47;
}
a.grey {
  color: #888;
}
a.lightGreen {
  color: #8fc640;
}
a.lightGrey {
  color: #aaa;
}
a.lighterGrey {
  color: #ccc;
}
a.lightRed {
  color: #d84a38;
}
a.orange {
  color: #fd971f;
}
a.pink {
  color: #ffc0cb;
}
a.purple {
  color: #852b99;
}
a.red {
  color: #e02222;
}
a.skyBlue {
  color: #66d9ef;
}
a.yellow {
  color: #ffb848;
}

button.buttons.black, a.buttons.black {
  background-color: #000;
  border-color: #000;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
button.buttons.black[class*="icon-"].black, a.buttons.black[class*="icon-"].black {
  border-color: #000;
}
button.buttons.black[class*="icon-"].black .fa, a.buttons.black[class*="icon-"].black .fa {
  color: #000;
}

button.buttons.blue, a.buttons.blue {
  background-color: #4b8df8;
  border-color: #4b8df8;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
button.buttons.blue[class*="icon-"].blue, a.buttons.blue[class*="icon-"].blue {
  border-color: #4b8df8;
}
button.buttons.blue[class*="icon-"].blue .fa, a.buttons.blue[class*="icon-"].blue .fa {
  color: #4b8df8;
}

button.buttons.dark, a.buttons.dark {
  background-color: #465159;
  border-color: #465159;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
button.buttons.dark[class*="icon-"].dark, a.buttons.dark[class*="icon-"].dark {
  border-color: #465159;
}
button.buttons.dark[class*="icon-"].dark .fa, a.buttons.dark[class*="icon-"].dark .fa {
  color: #465159;
}

button.buttons.darkBlue, a.buttons.darkBlue {
  background-color: #274772;
  border-color: #274772;
}
button.buttons.darkBlue[class*="icon-"].darkBlue, a.buttons.darkBlue[class*="icon-"].darkBlue {
  border-color: #274772;
}
button.buttons.darkBlue[class*="icon-"].darkBlue .fa, a.buttons.darkBlue[class*="icon-"].darkBlue .fa {
  color: #274772;
}

button.buttons.darkGreen, a.buttons.darkGreen {
  background-color: #006621;
  border-color: #006621;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
button.buttons.darkGreen[class*="icon-"].darkGreen, a.buttons.darkGreen[class*="icon-"].darkGreen {
  border-color: #006621;
}
button.buttons.darkGreen[class*="icon-"].darkGreen .fa, a.buttons.darkGreen[class*="icon-"].darkGreen .fa {
  color: #006621;
}

button.buttons.darkGrey, a.buttons.darkGrey {
  background-color: #555;
  border-color: #555;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
button.buttons.darkGrey[class*="icon-"].darkGrey, a.buttons.darkGrey[class*="icon-"].darkGrey {
  border-color: #555;
}
button.buttons.darkGrey[class*="icon-"].darkGrey .fa, a.buttons.darkGrey[class*="icon-"].darkGrey .fa {
  color: #555;
}

button.buttons.green, a.buttons.green {
  background-color: #35aa47;
  border-color: #35aa47;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
button.buttons.green[class*="icon-"].green, a.buttons.green[class*="icon-"].green {
  border-color: #35aa47;
}
button.buttons.green[class*="icon-"].green .fa, a.buttons.green[class*="icon-"].green .fa {
  color: #35aa47;
}

button.buttons.grey, a.buttons.grey {
  background-color: #888;
  border-color: #888;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
button.buttons.grey[class*="icon-"].grey, a.buttons.grey[class*="icon-"].grey {
  border-color: #888;
}
button.buttons.grey[class*="icon-"].grey .fa, a.buttons.grey[class*="icon-"].grey .fa {
  color: #888;
}

button.buttons.lightGreen, a.buttons.lightGreen {
  background-color: #8fc640;
  border-color: #8fc640;
  color: #465159;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
button.buttons.lightGreen[class*="icon-"].lightGreen, a.buttons.lightGreen[class*="icon-"].lightGreen {
  border-color: #8fc640;
}
button.buttons.lightGreen[class*="icon-"].lightGreen .fa, a.buttons.lightGreen[class*="icon-"].lightGreen .fa {
  color: #8fc640;
}

button.buttons.lightGrey, a.buttons.lightGrey {
  background-color: #aaa;
  border-color: #aaa;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
button.buttons.lightGrey[class*="icon-"].lightGrey, a.buttons.lightGrey[class*="icon-"].lightGrey {
  border-color: #aaa;
}
button.buttons.lightGrey[class*="icon-"].lightGrey .fa, a.buttons.lightGrey[class*="icon-"].lightGrey .fa {
  color: #aaa;
}

button.buttons.lighterGrey, a.buttons.lighterGrey {
  background-color: #ccc;
  border-color: #ccc;
}
button.buttons.lighterGrey[class*="icon-"].lighterGrey, a.buttons.lighterGrey[class*="icon-"].lighterGrey {
  border-color: #ccc;
}
button.buttons.lighterGrey[class*="icon-"].lighterGrey .fa, a.buttons.lighterGrey[class*="icon-"].lighterGrey .fa {
  color: #ccc;
}

button.buttons.lightRed, a.buttons.lightRed {
  background-color: #d84a38;
  border-color: #d84a38;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
button.buttons.lightRed[class*="icon-"].lightRed, a.buttons.lightRed[class*="icon-"].lightRed {
  border-color: #d84a38;
}
button.buttons.lightRed[class*="icon-"].lightRed .fa, a.buttons.lightRed[class*="icon-"].lightRed .fa {
  color: #d84a38;
}

button.buttons.orange, a.buttons.orange {
  background-color: #fd971f;
  border-color: #fd971f;
  color: #465159;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
button.buttons.orange[class*="icon-"].orange, a.buttons.orange[class*="icon-"].orange {
  border-color: #fd971f;
}
button.buttons.orange[class*="icon-"].orange .fa, a.buttons.orange[class*="icon-"].orange .fa {
  color: #fd971f;
}

button.buttons.pink, a.buttons.pink {
  background-color: #ffc0cb;
  border-color: #ffc0cb;
  color: #465159;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
button.buttons.pink[class*="icon-"].pink, a.buttons.pink[class*="icon-"].pink {
  border-color: #ffc0cb;
}
button.buttons.pink[class*="icon-"].pink .fa, a.buttons.pink[class*="icon-"].pink .fa {
  color: #ffc0cb;
}

button.buttons.purple, a.buttons.purple {
  background-color: #852b99;
  border-color: #852b99;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
button.buttons.purple[class*="icon-"].purple, a.buttons.purple[class*="icon-"].purple {
  border-color: #852b99;
}
button.buttons.purple[class*="icon-"].purple .fa, a.buttons.purple[class*="icon-"].purple .fa {
  color: #852b99;
}

button.buttons.red, a.buttons.red {
  background-color: #e02222;
  border-color: #e02222;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
button.buttons.red[class*="icon-"].red, a.buttons.red[class*="icon-"].red {
  border-color: #e02222;
}
button.buttons.red[class*="icon-"].red .fa, a.buttons.red[class*="icon-"].red .fa {
  color: #e02222;
}

button.buttons.skyBlue, a.buttons.skyBlue {
  background-color: #66d9ef;
  border-color: #66d9ef;
  color: #465159;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
button.buttons.skyBlue[class*="icon-"].skyBlue, a.buttons.skyBlue[class*="icon-"].skyBlue {
  border-color: #66d9ef;
}
button.buttons.skyBlue[class*="icon-"].skyBlue .fa, a.buttons.skyBlue[class*="icon-"].skyBlue .fa {
  color: #66d9ef;
}

button.buttons.yellow, a.buttons.yellow {
  background-color: #ffb848;
  border-color: #ffb848;
  color: #465159;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
button.buttons.yellow[class*="icon-"].yellow, a.buttons.yellow[class*="icon-"].yellow {
  border-color: #ffb848;
}
button.buttons.yellow[class*="icon-"].yellow .fa, a.buttons.yellow[class*="icon-"].yellow .fa {
  color: #ffb848;
}

/*-icons-*/
.icons {
  position: relative;
}
.icons:before, .icons:after {
  background: url(../images/admin/icons.png) 0 0 no-repeat;
  content: '';
  position: absolute;
  top: 0;
}
.icons:before {
  left: 0;
}
.icons:after {
  right: 0;
}
.icons.uploadButton:before {
  height: 34px;
  width: 100px;
}
.icons.uploadButton:hover:before {
  background-position: 0 -35px;
}
.icons.trash:before {
  background-position: -101px 0;
  height: 14px;
  width: 10px;
}

/*-select box-*/
.selectBox {
  position: relative;
}
.selectBox:after {
  border: solid transparent;
  border-top-color: #465159;
  border-width: 5px;
  content: '';
  height: 0;
  position: absolute;
  right: 10px;
  top: 12px;
  width: 0;
  z-index: 2;
}
.selectBox:before {
  background-color: #fff;
  border-radius: 0 4px 4px 0;
  content: '';
  height: 30px;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 20px;
  z-index: 1;
}
.selectBox select {
  z-index: 0;
}

/*-form container-*/
.forms label {
  margin-bottom: 0;
}
.forms .form-heading {
  border-bottom: 1px solid #aaa;
  box-shadow: 0 1px 0 #fff;
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 8px;
}
.forms .control-label {
  display: block;
  padding-bottom: 2px;
  text-shadow: 0 1px 0 #fff;
}
.forms .selectBox:after {
  top: 35px;
}
.forms .selectBox:before {
  top: 23px;
}
.forms .buttons-section {
  border-top: 1px solid #465159;
  padding-top: 15px;
}
.forms .form-group {
  margin-bottom: 15px;
}
.forms .form-group .form-control:not([type="checkbox"]) {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 #fff;
  color: #465159;
  display: block;
  font: 13px/1.45 Arial;
  height: 32px;
  padding: 3px 10px 5px;
}
.forms .form-group .form-control:not([type="checkbox"]):focus {
  border-color: #465159;
  box-shadow: 0 10px 5px -5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.2s;
}
.forms .form-group .form-control[readonly] {
  background-color: #eee;
  color: #555;
  text-shadow: 0 1px 0 #fff;
}
.forms .form-group .form-control[disabled] {
  background-color: #e0e0e0;
  color: #888;
  text-shadow: 0 1px 0 #fff;
}
.forms .form-group .form-control[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}
.forms .form-group .form-control[type=number]::-webkit-outer-spin-button, .forms .form-group .form-control[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: textfield;
}
.forms .form-group textarea.form-control {
  max-height: 1000px;
  min-height: 100px;
  overflow: auto;
  resize: vertical;
}
.forms .form-group textarea.form-control::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.forms .form-group select.form-control {
  padding-left: 6px !important;
  padding-right: 20px !important;
}
.forms .form-group.required .control-label:after {
  color: #d84a38;
  content: "\f0d9";
  font-family: "FontAwesome";
  margin-left: 4px;
}
.forms .form-group.has-error .help-block {
  color: #d84a38;
}
.forms .form-group.has-error .form-control {
  border-color: #d84a38 !important;
}
.forms .form-group.selectBox.has-error:after {
  border-top-color: #d84a38;
}

/*-pagination-*/
.pagination {
  background-color: #ddd;
  border: 1px solid #aaa;
  border-radius: 0;
  border-width: 1px 0 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  padding: 0 31px;
  position: relative;
  justify-content: center;
}
.pagination li.active {
  background-color: #aaa;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5);
}
.pagination li:not(.active):not(.disabled):hover {
  background-color: #bbb;
}
.pagination li:first-child, .pagination li:last-child {
  bottom: 0;
  font-size: 22px;
  padding: 2px 10px 0;
  position: absolute;
  top: 0;
  width: 31px;
}
.pagination li:first-child a, .pagination li:first-child span, .pagination li:last-child a, .pagination li:last-child span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3px 10px;
}
.pagination li:first-child {
  left: 0;
}
.pagination li:last-child {
  right: 0;
}
.pagination li:not(:first-child):not(:last-child) {
  border-left: 1px solid #aaa;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5) inset;
}
.pagination li:not(:first-child):not(:last-child) a, .pagination li:not(:first-child):not(:last-child) span {
  color: #333;
  display: block;
  padding: 5px 6px 6px;
}
.pagination li:nth-last-child(2) {
  border-right: 1px solid #aaa;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.5) inset, 1px 0 0 rgba(255, 255, 255, 0.8) !important;
}

/*-table--*/
.tables table {
  width: 100%;
}
.tables th, .tables td {
  color: #465159;
  padding: 4px 5px;
  text-align: left;
  vertical-align: top;
}
.tables th {
  font-family: "OpenSans-Semi-bold";
  font-weight: normal;
  padding: 5px;
  white-space: nowrap;
}
.tables td {
  word-break: break-word;
}
.tables thead {
  background-color: #ebeced;
}
.tables thead tr.filters > * {
  background-color: #ccc;
  padding: 4px 1px;
}
.tables thead tr.filters > * input {
  width: 95%;
}
.tables tbody tr {
  border-top: 1px solid #ddd;
}
.tables tbody tr th:first-child {
  padding-left: 15px;
}
.tables tbody tr th:first-child:after {
  content: ':';
}
.tables tbody tr td.actions {
  background-color: #e0e0e0;
}
.tables tbody tr.active > * {
  background-color: #d0d0d0;
}
.tables tbody tr.inactive > * {
  background-color: #f2dede;
}
.tables tbody tr.disabled > * {
  background-color: #ddd;
  border-top: 1px solid #ebeced;
  color: #888;
}
.tables tbody tr.highlight > * {
  background-color: #ccc;
  border-top: 1px solid #888;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5);
  color: #333;
  font-family: "OpenSans-Semi-bold";
}
.tables tbody tr:hover > * {
  background-color: #fff !important;
}
.tables tbody tr:nth-child(even) {
  background-color: #ececec;
}
.tables tfoot {
  background-color: #ccc;
  font-family: "OpenSans-Semi-bold";
}

/*-box-*/
.box {
  background-color: #f2f2f2;
  border-top: 2px solid #465159;
  border-bottom: 2px solid #465159;
  box-shadow: 0 30px 40px -45px #000;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  margin: 0 -15px 15px;
}
.box .boxBody {
  padding: 10px 15px 0;
}
.box .tables {
  overflow: auto;
}
.box .boxFooter {
  background-color: #e0e0e0;
  border-top: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  padding: 10px 15px;
}
.box .boxFooter.flex {
  display: flex;
}
.box .boxFooter.flex.items-center {
  align-items: center;
}
.box .boxFooter.flex .flex-full {
  flex: 1;
}
.box .buttons.default {
  background-color: #ccc;
  color: #465159;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}

.box.black, .box.black .boxFooter {
  border-color: #000;
}
.box.black .buttons.default {
  background-color: #000;
  border-color: #000;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.black .buttons[class*="icon-"].default .fa {
  color: #000;
}

.box.blue, .box.blue .boxFooter {
  border-color: #4b8df8;
}
.box.blue .buttons.default {
  background-color: #4b8df8;
  border-color: #4b8df8;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.blue .buttons[class*="icon-"].default .fa {
  color: #4b8df8;
}

.box.dark, .box.dark .boxFooter {
  border-color: #465159;
}
.box.dark .buttons.default {
  background-color: #465159;
  border-color: #465159;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.dark .buttons[class*="icon-"].default .fa {
  color: #465159;
}

.box.darkBlue, .box.darkBlue .boxFooter {
  border-color: #274772;
}
.box.darkBlue .buttons.default {
  background-color: #274772;
  border-color: #274772;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.darkBlue .buttons[class*="icon-"].default .fa {
  color: #274772;
}

.box.darkGreen, .box.darkGreen .boxFooter {
  border-color: #006621;
}
.box.darkGreen .buttons.default {
  background-color: #006621;
  border-color: #006621;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.darkGreen .buttons[class*="icon-"].default .fa {
  color: #006621;
}

.box.darkGrey, .box.darkGrey .boxFooter {
  border-color: #555;
}
.box.darkGrey .buttons.default {
  background-color: #555;
  border-color: #555;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.darkGrey .buttons[class*="icon-"].default .fa {
  color: #555;
}

.box.green, .box.green .boxFooter {
  border-color: #35aa47;
}
.box.green .buttons.default {
  background-color: #35aa47;
  border-color: #35aa47;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.green .buttons[class*="icon-"].default .fa {
  color: #35aa47;
}

.box.grey, .box.grey .boxFooter {
  border-color: #888;
}
.box.grey .buttons.default {
  background-color: #888;
  border-color: #888;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.grey .buttons[class*="icon-"].default .fa {
  color: #888;
}

.box.lightGreen, .box.lightGreen .boxFooter {
  border-color: #8fc640;
}
.box.lightGreen .buttons.default {
  background-color: #8fc640;
  border-color: #8fc640;
  color: #465159;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.box.lightGreen .buttons[class*="icon-"].default .fa {
  color: #8fc640;
}

.box.lightGrey, .box.lightGrey .boxFooter {
  border-color: #aaa;
}
.box.lightGrey .buttons.default {
  background-color: #aaa;
  border-color: #aaa;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.lightGrey .buttons[class*="icon-"].default .fa {
  color: #aaa;
}

.box.lighterGrey, .box.lighterGrey .boxFooter {
  border-color: #ccc;
}
.box.lighterGrey .buttons.default {
  background-color: #ccc;
  border-color: #ccc;
}
.box.lighterGrey .buttons[class*="icon-"].default .fa {
  color: #ccc;
}

.box.lightRed, .box.lightRed .boxFooter {
  border-color: #d84a38;
}
.box.lightRed .buttons.default {
  background-color: #d84a38;
  border-color: #d84a38;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.lightRed .buttons[class*="icon-"].default .fa {
  color: #d84a38;
}

.box.orange, .box.orange .boxFooter {
  border-color: #fd971f;
}
.box.orange .buttons.default {
  background-color: #fd971f;
  border-color: #fd971f;
  color: #465159;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.box.orange .buttons[class*="icon-"].default .fa {
  color: #fd971f;
}

.box.pink, .box.pink .boxFooter {
  border-color: #ffc0cb;
}
.box.pink .buttons.default {
  background-color: #ffc0cb;
  border-color: #ffc0cb;
  color: #465159;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.box.pink .buttons[class*="icon-"].default .fa {
  color: #ffc0cb;
}

.box.purple, .box.purple .boxFooter {
  border-color: #852b99;
}
.box.purple .buttons.default {
  background-color: #852b99;
  border-color: #852b99;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.purple .buttons[class*="icon-"].default .fa {
  color: #852b99;
}

.box.red, .box.red .boxFooter {
  border-color: #e02222;
}
.box.red .buttons.default {
  background-color: #e02222;
  border-color: #e02222;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}
.box.red .buttons[class*="icon-"].default .fa {
  color: #e02222;
}

.box.skyBlue, .box.skyBlue .boxFooter {
  border-color: #66d9ef;
}
.box.skyBlue .buttons.default {
  background-color: #66d9ef;
  border-color: #66d9ef;
  color: #465159;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.box.skyBlue .buttons[class*="icon-"].default .fa {
  color: #66d9ef;
}

.box.yellow, .box.yellow .boxFooter {
  border-color: #ffb848;
}
.box.yellow .buttons.default {
  background-color: #ffb848;
  border-color: #ffb848;
  color: #465159;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
}
.box.yellow .buttons[class*="icon-"].default .fa {
  color: #ffb848;
}

/*-details-*/
.details {
  margin-bottom: 20px;
}
.details > .item {
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  padding-bottom: 10px;
}
.details > .item p:not(:first-child) {
  margin-top: 10px;
}
.details .label {
  color: #465159;
  font-family: "OpenSans-Semi-bold", "OpenSans";
  font-style: italic;
  overflow-wrap: break-word;
  padding-left: 0;
  padding-right: 0;
}
.details .has-table {
  padding: 8px 0 0;
  margin: 0 -15px;
}
.details .has-table .heading {
  padding: 0 15px;
}
.details .has-table .row {
  padding-top: 0;
}

/*-clonable-*/
.clonable {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin: 0 -15px 15px;
  padding: 10px 15px 0;
}
.clonable:nth-child(even) {
  background-color: #e5e5e5;
}
.clonable:last-child {
  margin-bottom: 0;
}

.button-on-top .clonable:nth-child(n) {
  background-color: #fff;
}
.button-on-top .clonable:nth-child(odd) {
  background-color: #e5e5e5;
}

/*-login section-*/
.loginSection {
  height: 100%;
}
.loginSection #main {
  height: 100%;
  text-align: center;
  white-space: nowrap;
}
.loginSection #main:after {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.loginSection .loginBox {
  display: inline-block;
  max-width: 480px;
  text-align: left;
  vertical-align: middle;
  white-space: normal;
  width: 100%;
}
.loginSection .loginBox .logo {
  padding: 0 50px 10px;
}
.loginSection .loginBox .logo > * {
  display: block;
  fill: #465159;
  height: auto;
  width: 100%;
}

/*-start-*/
#main {
  height: 100%;
  position: relative;
}
#main.menu-active:after {
  content: "";
  background-color: rgba(70, 81, 89, 0.3);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 11;
  height: auto;
  pointer-events: auto;
}
#main > .content {
  display: flex;
  flex-wrap: wrap;
  height: calc(100% - 27px);
  margin-top: 55px;
}

/*-header-*/
#header {
  align-items: center;
  background-color: #465159;
  display: flex;
  height: 55px;
  left: 0;
  position: fixed;
  right: 0;
  text-align: right;
  top: 0;
  z-index: 13;
}
#header .logo {
  max-width: 250px;
}
#header .logo svg {
  display: block;
  fill: #f2f2f2;
  height: 35px;
  width: 100%;
}

/*-header (mobile navigation)-*/
#header #navs {
  flex: 1;
}
#header #navs ul {
  margin: 0 15px 0 0;
  display: flex;
  float: right;
}
#header #navs ul li {
  border-left: 1px solid #ebeced;
  font-size: 14px;
  margin-left: 8px;
  padding-left: 8px;
}
#header #navs ul li a {
  color: #ebeced;
  display: block;
  line-height: 1;
  padding-left: 20px;
  position: relative;
}
#header #navs ul li a.active {
  text-transform: uppercase;
}
#header #navs ul li a.active:after {
  border: 4px solid transparent;
  border-top-color: #ebeced;
  content: '';
  left: calc(50% + 7px);
  position: absolute;
  top: calc(100% + 3px);
}
#header #navs ul li a:hover {
  color: #ccc;
}
#header #navs ul li .fa {
  left: 0;
  position: absolute;
}
#header #navs ul li:first-child {
  border-left: none;
  margin-left: 0;
  padding-left: 0;
}

/*-content-*/
#pageRight {
  flex: 1;
  height: 100%;
}
#pageRight .pageHeading {
  background-color: #f2f2f2;
  border-radius: 0 0 5px 5px;
  border-top: none;
  border: 1px solid #ccc;
  color: #465159;
  padding: 10px 10px 13px;
  text-shadow: 0 1px 0 #fff;
}

/*-footer-*/
#footer {
  background-color: #f2f2f2;
  border-top: 1px solid #ccc;
  bottom: 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
  color: #465159;
  font-size: 12px;
  height: 33px;
  left: 0;
  padding: 6px 15px;
  position: fixed;
  right: 0;
  text-align: right;
  z-index: 11;
}
#footer .markup-canvas a {
  color: #465159;
  font-style: italic;
}

/*-page-*/
.page-head {
  align-items: center;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 -1px 0 #fff inset;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 15px;
  width: 100%;
}
.page-head .heading {
  font: 20px/1 "OpenSans-Semi-bold";
  flex: 1;
}
.page-head .options .buttons {
  margin-bottom: -2px;
  text-transform: uppercase;
}
.page-head .options .buttons:not(:first-child) {
  margin-left: 5px;
}
.page-head .options .buttons.tiny[class*="icon-"] .fa {
  padding: 4px 5px 3px;
}

.page-body {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  height: calc(100% - 40px);
  padding-bottom: 33px;
}
.page-body .page-info {
  flex: 1;
  max-height: 100%;
  overflow: auto;
  padding: 15px 15px 0;
}
.page-body .page-info .heading {
  border-bottom: 1px solid #465159;
  padding-bottom: 10px;
}
.page-body .page-info .heading.noBorder {
  border-bottom: none;
}
.page-body .page-info .messages {
  margin: -15px -15px 15px;
}

/*# sourceMappingURL=admin-template.css.map */
